body {
    padding-top: 30px;
    padding-bottom: 20px;
}

.main-form {
    width: 720px;
    height: 370px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.div-alltitles{
    /*border: dotted;
    border-color: lightgrey;*/
    height: 150px;
    margin-bottom: 20px;
}

.div-title{
    margin-bottom: 10px;
}

.div-subtitle{
    margin-bottom: 80px;
}

.div-allsteps{
    /*border: dotted;
    border-color: lightgrey;*/
    height: 450px;
    padding: 20px;
    /*padding-bottom: 200px;*/
    /*height: 420px;*/
}

.div-step{
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-input{
     margin-bottom: 50px;
}

.div-button-start{
    vertical-align: bottom;
}


h1{
    font-size: 48px;
    font-family: Arial;
    text-align: center;
}

h2{
    font-size: 24px;
    font-family: Arial;
    color: dimgrey;
    text-align: center;
}

.step-label{
    font-size: 24px;
    font-family: Arial;
    font-weight: normal;
}

.step-input{
    width: 670px;
    height: 35px;
    font-size: 16px;
    font-family: Arial;
    font-weight: normal;
}

.btn-start{
    text-align: center;
    width: 400px;
    height: 55px;
    font-size: 23px;
    font-family: Arial;
    font-weight: normal;
    background-color: white;
    border: solid;
    border-color: black;
    border-width: thin;
}
