html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: #525252;
}

.main-form {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;    
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.div-col-1{
    width: 20%;
    height: 100%;
    float: left;
}
.div-col-2{
    width: 60%;
    height: 100%;
    float: left;
    background-color: #FFFFFF;

}
.div-col-3{
    width: 20%;
    height: 100%;
    float: left;
}

.div-header{
    height: 12%;
    /*background-color: #000000;*/
}

.div-content{
    height: 80%;
}

.div-footer{
    height: 8%;
    /*background-color: #000000;*/
}

.div-alltitles{
    height: 150px;
}

.div-title{
    margin-bottom: 10px;
}

.div-subtitle{
    margin-bottom: 80px;
}

.div-allsteps{
    height: 450px;
    padding: 20px;
    padding-left: 135px;
    /*height: 420px;*/
}

.div-step{
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-input{
     margin-bottom: 50px;
     margin-left: 35px;
}

.div-button-rename{
    vertical-align: bottom;
    margin-left: 35px;
}


h1{
    font-size: 48px;
    font-family: Arial;
    text-align: center;
}

h2{
    font-size: 24px;
    font-family: Arial;
    color: dimgrey;
    text-align: center;
}

.step-label{
    font-size: 24px;
    font-family: Arial;
    font-weight: normal;
}

.step-input{
    width: 630px;
    height: 35px;
    font-size: 16px;
    font-family: Arial;
    font-weight: normal;
}

.btn-start{
    text-align: center;
    width: 630px;
    height: 55px;
    font-size: 23px;
    font-family: Arial;
    font-weight: normal;
    background-color: white;
    border: solid;
    border-color: black;
    border-width: thin;
}
