@model string

@using (Html.BeginForm("UploadFiles", "Home", FormMethod.Post, new { @class = "main-form", enctype = "multipart/form-data" }))
{
    <div class="div-col-1">
        <span></span>
    </div>
    <div class="div-col-2">
        <div class="div-header">
            <h1>Rename Your Subtitles</h1>
        </div>
        <div class="div-content">
            <div class="div-subtitle">
                <span>Rename easly. Without download.</span>
            </div>
            <div class="div-allsteps">
                <div class="div-step-line">
                    <div class="div-step-cell-left">
                        1
                    </div>
                    <div class="div-step-cell-right">
                        <span>Insert a video name example.</span>
                        <div class="div-input">
                            <input class="step-input" type="text" name="videoNameFormatSample" id="videoNameFormatSample" placeholder="ex: The.Big.Bang.Theory.S04E19.720p.5.1Ch.BluRay" value="" />
                        </div>
                    </div>
                </div>

                <div class="div-step-line">
                    <div class="div-step-cell-left">
                        2
                    </div>
                    <div class="div-step-cell-right">
                        <span>Select your subtitle file(s).</span>
                        <div class="div-input">
                            <input class="step-input hide" type="file" name="uploadFile" id="uploadFile" accept=".srt, .zip, .rar" multiple />
                            <input class="step-input" id="btn-upload-file" placeholder="Extensions .srt .zip. rar supported" readonly />
                        </div>
                    </div>
                </div>

                @*<div class="div-step-line">
                    <div class="div-step-cell-left">
                        3
                    </div>
                    <div class="div-step-cell-right">
                        <span>Finish.</span>
                        
                    </div>
                </div>*@

                <div class="div-button-rename">
                    <button class="myButton" type="submit" id="upload-button">Rename</button>
                </div>
            </div>
        </div>        
    </div>
    <div class="div-col-3">
        <span></span>
    </div>


    
}
