@model RenameSubtitle.Models.HomeViewModel

@using (Html.BeginForm("UploadFiles", "Home", FormMethod.Post, new { @class = "main-form", enctype = "multipart/form-data" }))
{
    <div class="div-col-1">
    </div>
    <div class="div-col-2">
        <div class="div-header">
            <h1>Rename Your Subtitles</h1>
        </div>
        <div class="div-content">
            <div class="div-subtitle">
                <span>Rename easly. Don't install any application.</span>
            </div>
            <div class="div-step-line">
                <div class="div-step-cell-left">
                    1
                </div>
                <div id="div-step-one-cell-right" class="div-step-cell-right">
                    <span>Enter a video name example.</span>
                    <div class="div-input">
                        <input class="step-input" type="text" name="videoNameFormatSample" id="videoNameFormatSample" placeholder="ex: The.Big.Bang.Theory.S04E19.720p.5.1Ch.BluRay" value="" />
                    </div>
                </div>
            </div>
            <div class="div-step-line">
                <div class="div-step-cell-left">
                    2
                </div>
                <div id="div-step-two-cell-right" class="div-step-cell-right">
                    <span>Select your subtitle file(s).</span>
                    <div class="div-input">
                        <input class="step-input hide" type="file" name="uploadFile" id="uploadFile" accept=".srt, .zip, .rar" multiple />
                        <input class="step-input" id="btn-upload-file" placeholder="Extensions .srt .zip. rar supported" readonly />
                    </div>
                </div>
            </div>
            <button class="myButton" type="submit" id="upload-button">Rename</button>
            @*<label class="message" id="lblMessage">@Model.Message</label>*@
        </div>        
        <div class="div-footer">
            <span>Designed, developed and maintained by Hugo Santos.</span>
        </div>
    </div>
    <div class="div-col-3">
    </div>


    
}
