@model string


@using (Html.BeginForm("UploadFiles", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <input type="text" name="videoNameFormatSample" id="videoNameFormatSample" value="The.Big.Bang.Theory.S04E19.720p.5.1Ch.BluRay.ReEnc-DeeJayAhmed" />
        <br />
        <input type="file" name="uploadFile" id="uploadFile" multiple />
        <br />
        <button type="submit" id="upload-button">Format</button>
        <br />
        <label>@Model</label>
    </div>
}
