
<div>
    <span>Video name format example</span>
    <input type="text" name="videoNameFormat" id="videoNameFormatSample" value="The.Big.Bang.Theory.S04E19.720p.5.1Ch.BluRay.ReEnc-DeeJayAhmed" />
    <br />
    <input type="file" name="UploadFile" id="txtUploadFile" multiple />
    <br />
    <button id="upload-button">Format</button>
</div>
